---
# Front matter comment to ensure Jekyll properly reads file.
---

// Imports
@import "typography";
@import "variables";
@import "projects";

@media only screen and (max-width: $breakpointMedium) {
    .hvr-grow  {
        /*CSS3 animation properties*/
        -webkit-animation: none !important;
        -moz-animation: none !important;
        -o-animation: none !important;
        -ms-animation: none !important;
        animation: none !important;

        /*CSS3 transition properties*/
        -o-transition-property: none !important;
        -moz-transition-property: none !important;
        -ms-transition-property: none !important;
        -webkit-transition-property: none !important;
        transition-property: none !important;

        /*CSS3 transform properties*/
        -o-transform: none !important;
        -moz-transform: none !important;
        -ms-transform: none !important;
        -webkit-transform: none !important;
        transform: none !important;
    }
}



body {
    margin: $spaceExtraLarge auto;
    background-color: $siteBackground;
    color: $textColor;
       @media (max-width:$breakpointSmall) and (max-width:$breakpointMedium) {
    margin: $spaceSmall auto;
    }
}

.wrapper {
    max-width: 750px;
    padding: 0 $spaceLarge;
    margin: 0 auto;

    @media (max-width:$breakpointMedium) {
        padding: 0 $spaceMedium;
    }

    @media (max-width:$breakpointSmall) {
        padding: $spaceSmall;
    }

}

img, video {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

// Nav

nav {
      position: fixed;
      top: 0;
      left: 0;
      background-color: white;
      width: 100%;
      z-index: 3;
}

nav a {
    margin-right: .5em;
    font-size: 1.1rem;
    font-weight: 500;
    color: $secondaryText;
    transition: color 0.3s;
}

nav a:hover {
    color: $textColor !important;
    text-decoration: none;
}

.links a:last-of-type {
        margin-right: 0;
    }

.nav-wrapper {
    max-width: 900px;
    height: 30px;
    padding: $spaceSmall $spaceLarge;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

      @media (max-width:$breakpointMedium) {
    padding-right: $spaceMedium !important;
        padding-left: $spaceMedium !important;
}

      @media (max-width:$breakpointSmall) {
    justify-content: center;
    padding: $spaceExtraSmall;
}
}



nav h1 {
    margin-top: 0;
    font-weight: 500;
  font-family: $siteTypeface;
}

nav ul {
    padding: 0px;
    list-style: none;
}

.home a {
      @media (max-width:$breakpointSmall) {
        display: none;
    }
}




a {
    text-decoration: none;
    color: $accentColor;
}


ul {
    padding: 0;
    list-style-type: none;
}


// Intro

#intro {
    padding-bottom: $spaceSmall;

    @media (max-width:$breakpointSmall) {
        margin-top: $spaceSmall;
        padding-bottom: 0;
    }


    @media (max-width:$breakpointMedium) {
        margin-top: $spaceSmall;
        padding-bottom: $spaceSmall;
    }
}

.name {
    font-family: $headingTypeface;
    font-weight: 700;
    font-size: 3rem;
    margin: 0;
    color: $textColor;
        @media (max-width:$breakpointMedium) {
            font-size: 2rem;
    }
        @media (max-width:$breakpointSmall) {
            font-size: 2rem;
    }
}


.current-role {
    font-family: $siteTypeface;
    color: $secondaryText;
    margin-top: $spaceExtraSmall;
    font-size: 1.5rem;
    @media (max-width:$breakpointMedium) {
        font-size: 1.5rem;
    }
         @media (max-width:$breakpointSmall) {
            font-size: 1.5rem;
    }
}

// About

.about-me-img {
    border-radius: 8px;

     @media (max-width:$breakpointSmall) {
        margin-top: $spaceMedium;
    }
}


#contact-links {
        margin-top: 2rem;
        display: inline-flex;

}
#contact-links li  {
    margin-right: 25px;
}

#contact-links a, .about-me-content a {
    background: #f0f4fe;
    padding: 4px 8px;
}


#contact-links a:hover, #credits a:hover {
    text-decoration: none;

}

#contact-links i {
    margin-right: 10px;
    width: 15px;
}

.green {
    color: #448B21;
}
.red {
    color: #C8403B;
}
