html {
  box-sizing: border-box;
  height: 100%;
  font-family: 'Karla', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-weight: 400;
  font-size: 18px;
  margin: 0;
  background-color: #FFF;
  color: #4a4a4a;
  text-align: left;
  line-height: 1.8em;
}

/*Typography*/ 

h1 {
  font-family: 'Karla', sans-serif;
  font-size: 38px;
  margin-bottom: 20px;
  line-height: 1.4em;
  letter-spacing: -1px;
}

h2 {
  line-height: 1.4em;
}

h3 {
  margin: 0 0 5px 0;
  padding: 0;
  font-size: 18px;
}

p {
  line-height: 1.6em;
  margin: 10px 0;
  padding: 0;
  font-size: 18px;
}

.da {
  color: grey;
}

.strong {
  font-weight: 700;
}

.emphasis {
  font-style: italic;
}

.strike {
  text-decoration: line-through;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.quote {
  font-size: 23px;
  padding: 25px;
  width: 90%;
  margin: 0 auto;
  line-height: 1.7em;
}

#profile_links sup {
  color: red;
}

#profile_links {
  float: right;
  margin-top: 15px;
}

/* Links */

a {
  color: #2000B0;
  text-decoration: none;

}

a:hover {
  opacity: .6;
}

#profile_links a {
  border-bottom: 0;
}

.dark_bg_button {
  border: 1px solid #fff!important;
}

.button:hover {
  opacity: .7;
}

.button a {
  color: white;
  font-size: 14px;
}

.button {
  display: inline-block;
  text-align: center;
  width: 200px;
  margin: 20px 0;
  padding: 5px 0;
  display: block;
  color: #212121;
  border-radius: 3px;
  border: 1px solid #212121;

}

/*Project Pages*/

.caption {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  color: #A1A1A1;
  text-align: center;
  letter-spacing: 1px;
  margin: 40px auto;
  width: 80%;
  padding: 10px 0;
  border-top: 2px dotted #ccc;
}

.back a {
  border-bottom: 0;
  }


  .project {
    width: 47%;
    margin: 0 20px 80px 0;
    float: left;
  }


  .project img {
    width: 100%;
  }


.project .fa {
    float: left;
    margin-right: 10px;
    margin: 15px 10px 0 0;
    font-size: 15px;
    line-height: 0;
}

.project p {
  margin: 0;
}

.project p:last-of-type {
  margin-bottom: 10px;
}



/* Case Studies */

.case_study {
  text-align: left;
}

.case_study p {
  margin: 0;
  width: 100%;
}

.img_frame {
  position: relative;
  overflow: hidden;
background-image: linear-gradient(-236deg, #003573 21%, #007BD0 92%);  max-width: 800px;
  margin-bottom: 50px;
}

.case_study img {
  width: 100%;
  transition: all 0.4s ease-in-out;
}

.case_study a:hover {
  opacity: 1;
}

.case_study:hover img {
  opacity: .2;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  transform: scale(1.2);
}


.case_study:hover .cta {
  opacity: 1;
}

.title {
  opacity: 1;
  color: #212121;
  width: 100%;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 3px;
  border: 1px solid #e0e0e0;
}


.img_frame .cta  {
  position: absolute;
  margin: auto;
  left: 0; 
  bottom: 0; 
  right: 0;
  top: 45%;
  opacity: 0;
  color: #FFF6F5;
}

.cta p {
  text-align: center;
  font-size: 1.5em;
  margin: 0 0 0 0px;
  line-height: 0;
}

.cta a:hover {
  opacity: 1;
}






/*Layout*/


ul {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  list-style-type: none;
}

section {
  margin: 40px auto;
}

.clear {
  clear: both;
}

.hide {
  display: none !important;
}

#container{
  margin: 0 auto;
  width: 65%;
  max-width: 800px;
  overflow: hidden;
}

.left_float {
  float: left;
  margin-right: 50px;
}

.right_float {
  float: right;
  margin-left: 50px;
}

/* Image Styles */

img {
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 900px;
}

.full-width {
  width: 100%;
  max-width: 1800px;
}

/* Top Section */

.about-section {
  color: #212121;
  background-color: white;
  position: relative;
  padding-bottom: 50px;
}

.about-section h1 {
  margin: 15px 0;
  font-size: 48px;
}

.about-section ul li {
  display: inline;
  margin-right: 10px;
}

.about-section li a {
  font-size: 14px;
}
.about-section p {
  width: 70%;
}


.background-pink {
  background-color: #FFF6F5;
  color: #2000B0;
}

.background-lightgrey {
  background-color: #f5f5f5;
  color: #212121;
}

.background-orange {
  background-color: #CA4300;
}

@media (max-width : 800px) {
   .project {
      width: 100%;

    }

    .right {
      float: none;
    }

    .left { 
      float: none;
    }

  .case_study h3{
    width: 100%;
  }
}

@media (max-width : 550px) {
    #container {
      margin-top: 0px;
      width: 90%;
    }

    header {
      margin: 0;
    }

    section {
      margin: 10px 0;
    }

    footer {
      margin-top: 20px;
    }

    ul {
      width: 100%;
    }

    img {
      width: 90%;
    }

    h1 {
      font-size: 28px;
      letter-spacing: 0px;
    }

    h2, h3, p {
      line-height: 1.4em;
    }

    header p {
      width: 100%;
    }

    .about-section h1 {
      margin: 10px 0;
      font-size: 34px;
    }

    .button {
      margin: 10px 0;
      width: 100%;
    }

    .caption {
      width: 90%;
      margin: 10px auto;
    }

    .about-section {
      padding: 20px 0;
    }

    .about-section p {
  width: 100%;
}

.case_study {
  margin-bottom: 20px;
}


    .about-more {
      margin: 20px 0;
    }

    .about {
      padding: 20px 0;
      margin-bottom: 20px;
    }

.project {
  margin-bottom: 40px;
}
  
}

