html {
  box-sizing: border-box;
  height: 100%;
  font-family: 'Libre Franklin', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-weight: 400;
  font-size: 18px;
  margin: 0;
  background-color: #FFF;
  color: #212121;
  text-align: left;
  line-height: 1.8em;
}

img {
  margin: 20px auto;
  width: 100%;
}

/*Typography*/
h1 {
  font-size: 38px;
  margin-bottom: 20px;
  line-height: 1.4em;
  font-weight: 300;
}

h2 {
  line-height: 1.4em;
  font-size: 30px;
  font-weight: 400;
}

h3 {
  margin: 10px 0;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 900;
}

p {
  line-height: 2em;
  font-size: 18px;
  margin: 10px 0;
  padding: 0;
  font-weight: 400;
}

.caption {
  color: grey;
  font-size: 14px;
  margin: 0 auto;
  width: 65%;
  max-width: 700px;
  overflow: hidden;
  text-align: center;
}

.quote {
  font-size: 23px;
  padding: 25px;
  width: 90%;
  margin: 0 auto;
  line-height: 1.7em;
}
.strong {
  font-weight: 900;
}

.emphasis {
  font-style: italic;
}

.strike {
  text-decoration: line-through;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

/*Navigation*/

/*display: flex;

  background-color: white;
  position: fixed;
  width: 100%;
  text-align: center;
  padding: 20px 80px;
  z-index: 99;
  border-top: 3px solid #FFCF32;
   justify-content: space-between;
  padding: 10px;
}

nav span {
  font-size: 13px;
  color: #757575;
}


nav h1 {
  float: left;
  font-size: 24px;
  line-height: 0;
  margin-top: 27px;
  font-weight: 400;
}

nav h1 a {
  color: #212121;
}

/* Sub Navigation 

.sub_nav {
  float:right;
}

.sub_nav h3 a {
    color: #2000B0;
    display: inline-block;
    padding: 0px 10px;
    font-weight: 400;
}*/

.nav {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 10px 50px;
  border-top: 3px solid #FFCF32;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

  .nav_section {
    display: flex;
    align-items: center;
  }

    .nav_item {
      padding: 5px 15px;
      font-size: 15px;
    }

    .nav_item + .nav_item {
      margin-left: 5px;
    }

.nav h1 {
  font-size: 24px;
  font-weight: 400;
}

.nav h1 a {
  color: #212121;
}


/* Links */

a {
  color: #2000B0;
  text-decoration: none;
}

a:hover {
  opacity: .6;
}

.button:hover {
  opacity: .7;
}

.button a {
  color: white;
  font-size: 14px;
}

.button {
  display: inline-block;
  text-align: center;
  width: 200px;
  margin: 20px 0;
  padding: 5px 0;
  display: block;
  color: #fff;
  background-color: #2000B0;
  border-radius: 3px;

}

/* Lists */
ul {
  list-style-type: square;
}

/* Project Hero */

.project_hero {
  text-align: center;
  line-height: 0;
  margin-bottom: 40px;
  padding-top: 130px;
  background-color: #f4f4f4;
}

.project_hero img {
  margin: 0 auto;
  width: 70%;
  padding: 0;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

.project_hero h1{
  margin: 0;
  font-size: 55px;
}

.project_hero h2{
  margin: 0 0 20px 0;
  color: #757575;
}

.project_hero p {
  margin-bottom: 50px;
}


/*Footer*/
.end ul {
  list-style-type: none;
  padding: 0;
}

.end {
  padding: 40px 20px;
  border-top: 1px solid #f5f5f5;
}

.emoji {
  font-size: 80px;
  line-height: 1em;
}


/*Header Profile*/
.top {
  margin: 0;
  padding-top: 100px;
}

.top .caption {
  width: 100%;
  text-align: left;
  color: grey;
}

.top sup {
  font-size: 12px;
}

.links ul  {
  list-style: none;
  margin: 0 100px 20px 0;
  padding: 0;
}

.links {
  float:left;
  margin-top: 40px;
  line-height: 1.8em;
  font-size: 16px;
}

.links li {
  margin: 0;
  padding: 0;
}

.links li a {
  color: grey;
}


/*About Me*/
.about-section {
  display: flex;
}

.about-section h3 {
  margin: 0;
}


.about-section .caption {
  font-size: 12px;
  width: 100%;
  line-height: 12px;
}

.portrait {
  margin-right: 50px;
}

.portrait img{
  margin: 0 auto;
  width: 200px;
}


/* Case Studies */

.case_study {
  text-align: left;
  line-height: 0;
}

.case_study p {
  margin: 0 0 30px 0;
  width: 100%;
}

.case_study h2 {
  margin-bottom: 0;
}

.case_study img {
  width: 100%;
  transition: all 0.4s ease-in-out;
  margin: 0;
}

.case_study:hover img {
  opacity: .2;
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  transform: scale(1.3);
}

.case_study a:hover {
  opacity: 1;
}

.img_frame {
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(-236deg, #003573 21%, #007BD0 92%);  
  margin-bottom: 50px;
}

.cta  {
  position: absolute;
  margin: auto;
  left: 0; 
  bottom: 0; 
  right: 0;
  top: 50%;
  opacity: 0;
  color: #FFF6F5;
}

.cta p {
  text-align: center;
  font-size: 1.5em;
  margin: 0;
  line-height: 0;
}

.case_study:hover .cta {
  opacity: 1;
}


/*Layout*/

section {
  margin: 40px auto;
}

#container{
  margin: 0 auto;
  width: 65%;
  max-width: 700px;
  overflow: hidden;
}

.full-width {
  max-width: 1200px;
  margin: 0 auto;
}

.left_float {
  float: left;
  margin-right: 50px;
}

.right_float {
  float: right;
  margin-left: 50px;
}

.clear {
  clear: both;
}

.hide {
  display: none !important;
}

/* Back to Top */
a.back-to-top {
  display: none;
  width: 40px;
  height: 40px;
  text-indent: -9999px;
  position: fixed;
  z-index: 999;
  right: 20px;
  bottom: 20px;
  border-radius: 3px;
  background: #ccc url("../img/arrow_top.svg") no-repeat center 43%;
}


/* Project Prototypes */
.prototype {
  position: relative;
  display: block;
  background: url(../img/bidding/vendors.png) no-repeat center;
  background-size: 1200px 627px;
  cursor: pointer;
  background-repeat: no-repeat;
  margin: 40px auto;
  width: 1200px;
  height: 627px;
}

.vendor_profile {
  position: absolute;
  width: 383px;
  height: 487px;
  top: 12%;
  left: 68%;
  display: none;
  transition: all .6s ease;
}

.hotspot {
  position: absolute;
  top: 30%;
  left: 45%;
  border-radius: 50%;
  width: 20px;
  height: 20px; 
  background: rgba(208,1,27,0.46);
  border: 1px solid #D0011B;
  box-shadow: 0 2px 9px 0 rgba(0,0,0,0.24);
  transition: all .6s ease;
}

.hotspot:hover {
  background: rgba(208,1,27,0.9);
  box-shadow: 0 2px 9px 0 rgba(0,0,0,0.85);
}

@media (max-width : 1000px) {
    .right {
      float: none;
    }

    .left { 
      float: none;
    }

  .case_study h3{
    width: 100%;
     
}

@media (max-width : 550px) {
    #container {
      margin-top: 0px;
      width: 90%;
    }

    .portrait {
      display: block;
      margin-right: 0;
      text-align: center;
      margin: 30px 0;
    }

    .profile {
      display: block;
      margin: 0 auto;
      width: 90%;
    }


    header {
      margin: 0;
    }

    section {
      margin: 10px 0;
    }

    footer {
      margin-top: 20px;
    }

    ul {
      width: 100%;
    }

    img {
      width: 100%;
      margin: 0 auto;
    }

    h1 {
      font-size: 28px;
    }

    h2, h3, p {
    }

    header p {
      width: 100%;
    }

    .about-section h1 {
      margin: 40px 0;
      font-size: 24px;
    }

    .top {
      padding-top: 0;
    }

    .links {
      margin-top: 20px;
    }

    .links ul {
      margin-right: 50px;
    }

    .button {
      margin: 10px 0;
      width: 100%;
    }

    .right_float {
        margin-left: 0px;
    }

    .about-section {
      margin: 0;
      display: block;
      padding: 0;
    }

    .case_study {
      margin-bottom: 20px;
    }

    .nav {
      display: none;
    }

    .project_hero {
      padding: 0 20px;
    }
    .project_hero h1 {
      padding-top: 20px;
    }

    .project_hero h2 {
      margin-bottom: 30px;
    }

    .project_hero img {
      width: 90%;
    }

    .quote {
      width: 100%;
      padding: 10px 0;
      font-size: 22px;
    }
      
  }

