html {
  box-sizing: border-box;
  height: 100%;
  font-family: 'Karla', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
  transition: all 0.2s ease-out;
}

body {
  font-weight: 400;
  font-size: 18px;
  margin: 0;
  background-color: #FFF;
  color: #4a4a4a;
  text-align: left;
  line-height: 1.8em;
}

/*Typography*/ 

h1 {
  font-family: 'Karla', sans-serif;
  font-size: 38px;
  margin-bottom: 20px;
  line-height: 1.4em;
  letter-spacing: -1px;
}

h2 {
  line-height: 1.4em;
}

h3 {
  margin: 0 0 5px 0;
  padding: 0;
  font-size: 18px;
}

p {
  line-height: 1.6em;
  margin: 10px 0;
  padding: 0;
  font-size: 18px;
}

.da {
  color: grey;
}

.strong {
  font-weight: 700;
}

.emphasis {
  font-style: italic;
}

.strike {
  text-decoration: line-through;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.quote {
  font-size: 23px;
  padding: 25px;
  width: 90%;
  margin: 0 auto;
  line-height: 1.7em;
}

#profile_links sup {
  color: red;
}

/* Links */

a {
  color: #2000B0;
  text-decoration: none;
  padding: 0 0 3px 0;
  border-bottom: 1px solid #2000B0;
}

a:hover {
  opacity: .6;
}

#profile_links a {
  border-bottom: 0;
}

.dark_bg_button {
  border: 1px solid #fff!important;
}

.button:hover {
  opacity: .7;
}

.button a {
  color: white;
  font-size: 14px;
}

.button {
  display: inline-block;
  text-align: center;
  width: 200px;
  margin: 20px 0;
  padding: 5px 0;
  display: block;
  color: white;
  border-radius: 3px;
}

/*Project Pages*/

.caption {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  color: #A1A1A1;
  text-align: center;
  letter-spacing: 1px;
  margin: 40px auto;
  width: 80%;
  padding: 10px 0;
  border-top: 2px dotted #ccc;
}

.back a {
  border-bottom: 0;
  }

/*Cards*/

.cardGroup {
  display: flex;
  border-radius: 4px;
  flex-wrap: wrap;
}

.card {
  display: flex;
  min-width: 48%;
  max-width: 48%;
  margin-right: 10px;
  flex-direction: column;
  border-radius: 3px;
  overflow: hidden;
  margin-top: 10px;
  flex: 1 1 0%;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0,0,0,.08);
  border: 1px solid rgba(0,0,0,.09);
}

.card:hover {
  box-shadow: 0 2px 5px rgba(0,0,20,0.25);
}

.card_header {
  position: relative;
  display: block;
  height: 200px;
  width: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card_description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
  padding: 20px;
  flex: 1 1 auto;
}

.card_descriptionTitle {
  font-weight: 700;
  line-height: 1.4em;
 }

.card_descriptionText {
  line-height: 21px;
 }

.card a {
  border-bottom: none;
  font-weight: 700;
}

/* Case Studies */

.case_study {
  margin: 30px 0;
}

.case_study a {
  border-bottom: 0;
}

.case_study h2 {
  font-weight: 700;
  margin-bottom: 10px;
}
.case_study h3{
  width: 80%;
}

.img_frame {
  position: relative;
  overflow: hidden;
  background-color: #2000B0;
  max-width: 800px;
  border-radius: 3px;
}

.img_frame img {
  width: 100%;
  transition: all 0.4s ease-in-out;
}

.img_frame a:hover {
  opacity: 1;
}

.img_frame:hover img {
  opacity: .2;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  transform: scale(1.2);
}

.img_frame .cta  {
  position: absolute;
  opacity: 0;
  color: #FFF6F5;
  left: 0;
  right: 0;
  top: 50%;
  margin-left: auto;
  margin-right: auto;
}


.img_frame:hover .cta {
  opacity: 1;
}

.cta p {
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
  line-height: 12px;
}






/*Layout*/

header {
  margin: 50px 0;
  text-align: left;
}
ul {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  list-style-type: none;
}

section {
  margin: 40px auto;
}

.clear {
  clear: both;
}

.hide {
  display: none !important;
}

#container{
  margin: 0 auto;
  width: 65%;
  max-width: 800px;
  overflow: hidden;
}

.left_float {
  float: left;
  margin-right: 50px;
}

.right_float {
  float: right;
  margin-left: 50px;
}

/* Image Styles */

img {
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 900px;
}

.full-width {
  width: 100%;
  max-width: 1800px;
}

/* Top Section */

.about-section {
  margin: 0 0 30px 0;
  color: #FFF6F5;
  background-color: #2000B0;
  padding: 30px 0;
  position: relative;
}

.about-section h1 {
  margin: 5px 0;
}

.about-section ul li {
  display: inline;
  margin-right: 10px;
}

.background-pink {
  background-color: #FFF6F5;
  color: #2000B0;
}

.background-lightgrey {
  background-color: #f5f5f5;
  color: #4a4a4a;
}

.background-orange {
  background-color: #CA4300;
}

@media (max-width : 800px) {
   .card {
      min-width: 100%;
      max-width: 100%;
    }

    .right {
      float: none;
    }

    .left { 
      float: none;
    }

  .case_study h3{
    width: 100%;
  }
}

@media (max-width : 550px) {
    #container {
      margin-top: 0px;
      width: 90%;
    }

    header {
      margin: 0;
    }

    section {
      margin: 10px 0;
    }

    footer {
      margin-top: 20px;
    }

    ul {
      width: 100%;
    }

    img {
      width: 90%;
    }

    h1 {
      font-size: 28px;
      letter-spacing: 0px;
    }

    h2, h3, p {
      font-size: 18px;
      line-height: 1.4em;
    }

    header p {
      width: 100%;
    }

    .about-section h1 {
      margin: 10px 0;
    }

    .button {
      margin: 10px 0;
      width: 100%;
    }

    .caption {
      width: 90%;
      margin: 10px auto;
    }

    .about-section {
      padding: 20px 0;
    }

    .about-more {
      margin: 20px 0;
    }

    .about {
      padding: 20px 0;
      margin-bottom: 20px;
    }

    .cardGroup, .card, .card_description {
    display: block;
    }
}

