html {
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
  transition: all 0.3s ease-out;
}

body{
  margin:0;
  padding:80px 0;
  background: -moz-linear-gradient(top,  rgba(254,255,255,1) 0%, rgba(255,239,255,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(255,239,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(254,255,255,1) 0%,rgba(255,239,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background-color: #FFEFFF;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: left;
  cursor: pointer;
  width: 100%;
  font-family: 'Crimson Text', serif;
}

h2 {
  font-weight: 500;
  font-size: 12px;
  text-align: left;
  color: blue;
}

a {
  text-decoration: none;
  padding-bottom: 5px;
  color: black;
}

a:hover {
  color: red;
}

.active {
    border-bottom: 1px dotted red;

}
.years {
  padding: 0 10px;
    display: inline-block;
  }

  .years:first-of-type {
    padding: 0;
  }


.note a {
  text-decoration: none;
  border: none;
}

p {
  line-height: 1.6em;
  text-align: left;
  color: blue;
  font-size: 34px;
  padding: 0;
  font-weight: 600;
}

#container{
  max-width: 950px;
  height: 100%;    
  text-align: center;
  margin: 0 auto;
  padding: 3%;
  overflow: hidden;
}

h1 {
  font-family: 'Share Tech Mono', serif;
  color: #B476B4;
  text-align: left;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 19px;
  line-height: 1.4em;
  letter-spacing: 1px;
}

.about {
  float: right;
  width: 65%;
  padding-left: 30px;
  display: block;
  text-align: left;
}

.phone_container {
  float: left;
}

.btn {
  position: relative;
  border: 1px solid blue;
  color: blue;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  width: 100%;
  padding: 15px;
  text-align: center;
  line-height: 1.6em;
  text-decoration: none;
  letter-spacing: 1.6px;
  margin-bottom: 80px;
  font-weight: 700;
}

a:hover {
  color: white;
  background-color: blue;
}

.phone {
  background: url(../img/phone_wire.png) no-repeat top;
  height: 549px;
  width: 260px;
  position: relative;
}

.note {
  position: absolute;
  top: 75px;
  left: 19px;
}

.sidenote {
  font-family: 'Share Tech Mono';
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: .5px;
  color: #929292;
  font-weight: 400;
}

@media (min-width : 800px) {
  .btn {
    display: none;
  }
}

@media (max-width : 800px) {
  body {
    padding: 20px 20px;
  }

  h1 {
    display: none;
  }

  .btn {
    width: 100%;
    margin: 0 0 30px 0;
  }

  #container {
    text-align: center;
  }

  .about {
    float: none;
    width: 100%;
    text-align: center;
    padding: 0;
  }

  .years {
    margin-top: 30px;
  }

  p {
    font-size: 21px;
    text-align: center;
  }

  .phone_container {
    width: 100%;
    float: none;
    padding: 0;
    position: static;
  }

  .phone {
    width: 100%;
  }

  .note {
    margin: 0 auto;
    position: relative;
    left: 0;
    }

  }