@import "variables";

//Index

#work li,
#fun li {
    margin: $spaceMedium 0 $spaceLarge 0;
}

#work img,
#fun img {
    border-radius: 8px;
}

.tile-title {
    margin: 0;
    font-size: 2.5rem;
    font-weight: 500;
    color: $textColor;
    @media (max-width: $breakpointMedium) {
        padding-top: $spaceExtraSmall;
    }
}

.tile-title a {
    color: $textColor;
}

.tile-summary {
    margin: .5rem 0;
    font-size: 2rem;
    color: $secondaryText;
    margin-bottom: $spaceSmall;
}

.company {
    color: $secondaryText;
    text-transform: uppercase;
    font-weight: 500;
}

#fun .tile-title,
#fun .tile-summary {
    font-size: 1.5rem;
}

#fun .tile-title {
    
}

#work .tile-title,
#work .tile-summary {
    @media (max-width: $breakpointSmall) {
        font-size: 1.5rem;
    }
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}


// Post

.post-hero {
    text-align: center;
    line-height: 0;
}

.post-hero img {
    object-fit: cover;
    height: 500px;
    width: 70%;
    border-radius: 8px;
    @media (max-width: $breakpointSmall) {
        height: 300px;
        width: 100%;
        border-radius: 0;
    }
}

.post-wrapper {
    padding: 0 20%;
    @media (max-width: $breakpointSmall) {
        padding: 0;
    }
    @media (max-width:$breakpointMedium) {
        padding: 0;
    }
}

.post-intro h1 {
    font-weight: 700;
    @media (max-width: $breakpointSmall) {
        margin-top: 0;
    }
}

.post-intro h2 {
    margin-top: 0;
    font-size: 1em;
}

.post-section-title {
    margin-top: $spaceMedium;
}

.post-img {
    margin: $spaceLarge 0 0 0;
}

.post-img-caption {
    text-align: center;
    margin-top: 0;
    margin-bottom: $spaceLarge;
    color: $secondaryText;
}

#post-end {
    margin-top: $spaceExtraLarge;
    border-top: 1px solid #ccc;
    @media (max-width: $breakpointSmall) {
        margin-top: $spaceMedium;
    }
}

#post-end li {
    margin: $spaceMedium 0;
}

#post-end h4,
#post-end p {
    margin: 0 !important;
}


// Password

.password {
    background-color: blue;
    margin-top: 20px;
    padding: 10px 30px 30px 30px;
    color: white;
    border-radius: 8px;
    input {
        padding: 10px;
    }
    p:first-of-type {
        margin-bottom: 0;
    }
    p:last-of-type {
        margin-top: 0;
    }
    h4 {
        margin-top: 0 !important;
    }
}

#encrypt_password {
    padding: 10px;
}