@import "variables";
.projects li {
    margin-bottom: $spaceMedium;
}

.tile {
    border-radius: 3px;
    padding: $spaceSmall $spaceSmall $spaceSmall 0;
}

.projects a:hover {
    cursor: pointer !important;
}

li a:hover {
    text-decoration: none !important;
}

.thumbnail, .thumbnail img {
    border-radius: 8px !important;
}

.thumbnail img {
    @media (max-width:$breakpointSmall) {
        padding: 0;
    }

}


.tile-info {
    @media (max-width:$breakpointSmall) { 
        margin-top: $spaceSmall;
    }

     @media (max-width:$breakpointMedium) { 
        margin-top: $spaceSmall;
    }

}

.tile-title {
    margin: 0;
    font-size: 2.5rem;
    font-weight: 500;
    color: $textColor;
}

.tile-title a {
    color: $textColor;
}


.tile-summary {
    margin: .5rem 0;
    font-size: 2rem;
    color: $secondaryText;
    margin-bottom: $spaceSmall;
}

.tile:first-of-type {
    margin-top: 0;
}

.company {
    color: $secondaryText;
    text-transform: uppercase;
    font-weight: 500;
}

#fun .tile-title, #fun .tile-summary  {
    font-size: 1.5rem;
}

#fun .tile-info {
    margin-top: $spaceSmall;
}

#fun h3 {
    margin-top: $spaceLarge;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

@media (hover: none) {
   .hvr-grow {
      display: none;
   }
}


.post-hero {
    text-align: center;
    line-height: 0;
}

.post-hero img {
    object-fit: cover;
    height: 500px;
    width: 70%;
    border-radius: 8px;

     @media (max-width:$breakpointSmall) { 
        height: 300px;
        width: 100%; 
        border-radius: 0;
    }
}

.post-wrapper {
    padding: 0 20%;

      @media (max-width:$breakpointSmall) { 
        padding: 0;
    }

     @media (max-width:$breakpointMedium) { 
        padding: 0;
    }
}

.post-section-title {
    margin-top: $spaceMedium;
}

.post-img {
    margin: $spaceLarge 0 0 0;
}

.post-img-caption {
    text-align: center;
    margin-top: 0;
    margin-bottom: $spaceLarge;
    color: $secondaryText;
}

.post-intro h1 {
    font-weight: 700;

      @media (max-width:$breakpointSmall) { 
        margin-top: 0;
    }
}

.post-intro h2 {
    margin-top: 0;
    font-size: 1.4em;
}

#post-end {
    margin-top: $spaceExtraLarge;
    padding-top: $spaceLarge;
    border-top: 1px solid #ccc;


      @media (max-width:$breakpointSmall) { 
        margin-top: $spaceMedium;
    }
}
#post-end h4, #post-end p {
    margin: 0 !important;
   
}


