@import "variables";
@import url('https://fonts.googleapis.com/css?family=DM+Sans:400,500|&display=swap');
@import url('https://fonts.googleapis.com/css?family=Caudex:400,700&display=swap');
html {
  font-size: 16px;
}

body {
  font-family: $siteTypeface;
  line-height: 1.45;
}

p {
  margin-bottom: 1.25em;
  font-size: 1.125em;
  line-height: 1.8;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 2.75rem 0 1rem;
  font-weight: 400;
  line-height: 1.25;
}

h1 {
  font-size: 3.052rem;
  font-family: $headingTypeface;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text_small {
  font-size: 0.8rem;
}

.strong {
  font-weight: 500;
}

.secondary-text {
  color: $secondaryText;
}

.section-title {
  font-family: $headingTypeface;
  letter-spacing: .3px;
}