// Breakpoints
$breakpointLarge: 71em; // 1136px 13" Macbook
$breakpointMedium: 48em; // 768px iPad
$breakpointSmall: 26em; // 375px iPhone 6/7/8


// Colors
$introBackground: white;
$introType: blue;
$siteBackground: #fff;
$textColor: #181B2E;
$secondaryText: #8890A0;
$accentColor: blue; 


// Type
$headingTypeface: 'Caudex', serif;
$siteTypeface: 'DM Sans', sans-serif;

//Spacing
$spaceExtraLarge: 8em; // 128px
$spaceLarge: 4em; // 64px
$spaceMedium: 2em; // 32px
$spaceSmall: 1em; //16px
$spaceExtraSmall: .5em; //8px

