body {
	margin:50px;
	font-family: 'Roboto', sans-serif;
	color: #4a4a4a;
}

a {
	color: #23adca;
}

h1 {
	font-size: 28px;
}

h2 {
	font-size: 21px;
}

h3 {
	font-size: 16px;
}

p{
	font-size: 14px;
	font-weight: 400;
}
