*, *:before, *:after {
  box-sizing: inherit;
  transition: all 0.3s ease-out;
}
body {
	font-family: 'Oxygen', sans-serif;
	color: #333;
	background-color: #FAF5EB;

}

h1 {
	font-family: 'Great Vibes', cursive;
	font-size: 78px;
	color: #ff2f00;
	text-align: center;
}

h3 {
	text-transform: uppercase;
    color: red;
    text-align: center;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 700;
}

.container {
	margin: 80px auto;
	text-align: left;
	max-width: 1000px;
}

/* HEADER */

.header {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 0 10px;
  	justify-content: center;
	background-color: #ff2f00;
	color: white;
	height: 550px;
	text-align: center;
	background: url(img/rachel_header.png) no-repeat top;
  	background-size: cover;
}

.header h1 {
	padding: 20px 0;
	color: white;
}

.header p {
	font-size: 18px;
    text-align: center;
    line-height: 24px;
}

.header a {
	color: white;
	text-decoration: none;
	border-bottom: 1px dotted white;
	padding-bottom: 5px;
}
.ring {
	font-size: 80px;
}

/* DUDES */

#dudes-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;  
	text-align: center;
	font-size: 12px;
	justify-content: center;
	padding: 30px 0;
}

.dude {
	display: flex;
    align-items: center;  
    flex-direction: column;
}

.dude img {
	margin: 20px 5px 10px 5px;
	border-radius: 100px;
}

.eliminated {
	opacity: .5;
	filter: grayscale(100%);
}

#dudes-list h3 {
	font-size: 10px;
	color: grey;
}

/* PLAYERS */

#leaderboard-list {
	margin: 50px 0;
}

.card {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	background-color: white;
	padding: 20px 30px;
	margin: 20px auto;
	border-radius: 3px;
}


#leaderboard-list .card:first-of-type {
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 20px;
	border: 3px solid #FF3000;
 }

.card-section { 
	display:flex;
	align-items: center;
}

.avatar {
	position: relative;
	margin: 0 30px 0 0;
}

.avatar img {
	border-radius: 100px;
}

.rank {
    position: absolute;
    color: #fff;
    font-size: 16px;
    line-height: 25px;
    font-weight: 700;
    border-radius: 100px;
    background-color: #FF3000;
    width: 25px;
    height: 25px;
    top: 110px;
    left: 121px;
    text-align: center;
}

.person {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	max-width: 250px;
}

.name {
	font-size: 40px;
	padding: 0 0 8px 0;
	text-align: left;
}

.occupation, .total {
	font-size: 18px;
	color: grey;
	letter-spacing: 0;
	font-weight: 400;
	margin-bottom: 10px;
	line-height: 24px;
}

.total {
	font-size: 14px;
}


.bio {
	text-align: left;
	line-height: 24px;
	margin: 10px 0 10px 0px;
	max-width: 500px;
}

.question {
	font-weight: 700;
	margin-top: 10px;
}

@media (max-width: 500px) {
	.bio {
		margin: 0;
		max-width: 100%;
	}

	.card-section {
		flex-wrap: wrap;
		flex-direction: column;
		margin: 0 auto;
	}

	.container {
		margin: 0px 10px;
	}

	.avatar {
		margin: 0 auto;
	}

	.card, .card:first-of-type  {
		margin: 15px 0 15px 0 !important;
		padding: 10px;
	}

	.total {
		margin: 0;
	}

	.person {
		text-align: center;
		margin: 10px 0;
		max-width: 100%;

	}

	.name {
				text-align: center;

	}



	.header {
		height: 300px;
		margin-bottom: 30px;
	}

	.header h1 {
		font-size: 54px;
	}

	.ring {
		font-size: 40px;
	}


	#leaderboard-list {
		margin: 20px 0;
	}
}
