*, *:before, *:after {
  box-sizing: inherit;
  transition: all 0.3s ease-out;
}
body {
font-family: 'Oxygen', sans-serif;
	color: #333;
	background-color: #FAF5EB;

}

.container {
	margin: 80px auto;
	text-align: left;
}

.header {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 0 10px;
  	justify-content: center;
	background-color: #ff2f00;
	color: white;
	height: 500px;
	text-align: center;
	background: url(img/rachel_header.png) no-repeat top;
  	background-size: cover;
}

.header h1 {
		font-family: 'Great Vibes', cursive;

	font-size: 78px;
	padding: 20px 0;
	font-weight: 700;
}

.header h2 {
	font-size: 24px;
}

.ring {
	font-size: 80px;
}

.rank {
    position: absolute;
    color: #fff;
    font-size: 13px;
    line-height: 20px;
    font-weight: 700;
    border-radius: 100px;
    background-color: #FF3000;
    width: 20px;
    height: 20px;
    top: 140px;
    left: 140px;
    text-align: center;
}

.avatar {
	position: relative;
	margin: 0 30px 0 0;
	background-color: #FF3000;
}

.card {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	background-color: white;
	padding: 20px 30px;
	max-width: 1000px;
	margin: 20px auto;
}


.card:first-of-type {
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 20px;
	border: 5px solid #FF3000;
 }


.card-section { 
	display:flex;
	align-items: center;
}

ol {
	margin: 0 !important;
}

.person {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	max-width: 250px;
}

.occupation, .total {
	font-size: 18px;
	color: grey;
	letter-spacing: 0;
	font-weight: 400;
	margin-bottom: 10px;
}

.total {
	font-size: 14px;
}

.name {
	font-size: 40px;
		font-family: 'Great Vibes', cursive;

	color: #FF3000;
	letter-spacing: 0;
	padding: 0 0 8px 0;
	font-weight: 700;
}


.bio {
	text-align: left;
	line-height: 24px;
	margin: 10px 0 10px 0px;
	max-width: 500px;
}


.question {
	font-weight: 700;
	margin-top: 10px;
}

@media (max-width: 500px) {
	.bio {
		margin: 0;
		max-width: 100%;
	}

	.card-section {
		flex-wrap: wrap;
		flex-direction: column;
		margin: 0 auto;
	}

	.container {
		margin: 0px 20px;
	}

	.avatar {
		margin: 0 auto;
	}

	.card:first-of-type {
		margin: 20px auto;
	}

	.person {
		text-align: center;
		margin: 20px 0;
		max-width: 100%;
	}

	.header {
		height: 200px;
	}

	.header h1 {
		font-size: 34px;
	}

	.ring {
		font-size: 40px;
	}
}
