*, *:before, *:after {
  box-sizing: inherit;
  transition: all 0.3s ease-out;
}
body {
	font-family: 'Oxygen', sans-serif;
	color: #333;
	background-color: #FF2F00;
	font-size: 18px;

}

h1 {
	font-family: 'Great Vibes', cursive;
	font-size: 78px;
	color: #ff2f00;
	text-align: center;
}



h3 {
    text-transform: uppercase;
    color: grey;
    text-align: center;
    font-size: 10px;
    letter-spacing: 1.2px;
    font-weight: 700;
    line-height: 1.8px;
}

p {
	font-size: 14px;
	line-height: 21px;
}

.container {
	margin: 80px auto;
	margin-top: -80px;
	text-align: left;
	max-width: 1100px;
}

/* HEADER */

.header {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 0 10px;
  	justify-content: center;
	background-color: #ff2f00;
	color: white;
	height: 550px;
	text-align: center;
	background: url(img/rachel_header.png) no-repeat top;
  	background-size: cover;
}

.header h1 {
	padding: 20px 0;
	color: white;
}

.header p {
	font-size: 18px;
    text-align: center;
    line-height: 24px;
}

.header a {
	color: white;
	text-decoration: none;
	border-bottom: 1px dotted white;
	padding-bottom: 5px;
}
.ring {
	font-size: 80px;
}

/* PLAYERS */

#leaderboard-list {
	margin: 20px 0;
}

.card {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	background-color: white;
	padding: 30px;
	margin: 30px;
	border-radius: 3px;
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.card-section { 
	display:flex;
	align-items: center;
}

.avatar {
	position: relative;
	margin: 0 0 20px 0;
}

.avatar img {
	border-radius: 200px;
	width: 200px;
	height: 200px;
	border: 3px solid lightgrey;
}

.rank {
    position: absolute;
    color: #fff;
    font-size: 16px;
    line-height: 25px;
    font-weight: 700;
    border-radius: 50px;
    background-color: #FF3000;
    width: 25px;
    height: 25px;
    top: 155px;
    left: 175px;
    text-align: center;}

.person {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 280px;
	align-content: center;
	text-align: center;
}

.name {
	font-size: 40px;
	padding: 0 0 8px 0;
}

.occupation, .total {
	text-align: center;
	letter-spacing: 0;
	line-height: 24px;
}

.total {
	font-size: 14px;
	margin-top: 5px;
	color: grey;
}

.bio {
	text-align: left;
	line-height: 24px;
	width: 550px;
}

.question {
	text-align: left;
	color: #ccc;
}

.answer {
	text-align: left;
	font-size: 18px;
	line-height: 1.4em;
	margin: 10px 0 20px 0;
	letter-spacing: .3px;
}

/* Roster */

.roster {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 30px;
}


.rosterDude {
	display: none;
	width: 80px;
	height: 80px;
	border-radius: 100px;
	border: 2px solid lightgrey;
}

.show {
	display: flex;
	align-items: center;
    flex-direction: column;
}

.dudeName {
	visibility: hidden;
	opacity: 0;
	width: 80px;
	height: 80px;
	border-radius: 100px;
	background-color: #FF3000;
	padding-top: 40px;
}

.dudeName h3 {
	color: white;
}

.rosterDude:hover .dudeName {
	visibility: visible;
	opacity: 1;
	filter: none;
}


.adam {
	background: url(../bachelorette2017/img/dudes/adam.jpg);
	background-size: 100% 100%;
	opacity: .3;
	filter: grayscale(100%);
}

.alex {
	background: url(../bachelorette2017/img/dudes/alex.jpg);
	background-size: 100% 100%;
	opacity: .3;
	filter: grayscale(100%);
	opacity: .3;
	filter: grayscale(100%);

}
.anthony {
	background: url(../bachelorette2017/img/dudes/anthony.jpg);
	background-size: 100% 100%;
	opacity: .3;
	filter: grayscale(100%);
}

.blake_e {
	background: url(../bachelorette2017/img/dudes/blake.jpg);
	background-size: 100% 100%;
	opacity: .3;
	filter: grayscale(100%);
}

.blake_k {
	background: url(../bachelorette2017/img/dudes/blakek.jpg);
	background-size: 100% 100%;
	opacity: .3;
	filter: grayscale(100%);
	opacity: .3;
	filter: grayscale(100%);

}
.brady {
	background: url(../bachelorette2017/img/dudes/brady.jpg);
	background-size: 100% 100%;
	opacity: .3;
	filter: grayscale(100%);
}
.bryan {
	background: url(../bachelorette2017/img/dudes/bryan.jpg);
	background-size: 100% 100%;
}

.bryce {
	background: url(../bachelorette2017/img/dudes/bryce.jpg);
	background-size: 100% 100%;
	opacity: .3;
	filter: grayscale(100%);
}

.dean {
	background: url(../bachelorette2017/img/dudes/dean.jpg);
	background-size: 100% 100%;
}
.demario {
	background: url(../bachelorette2017/img/dudes/demario.jpg);
	background-size: 100% 100%;
	opacity: .3;
	filter: grayscale(100%);
}
.eric {
	background: url(../bachelorette2017/img/dudes/eric.png);
	background-size: 100% 100%;
}

.fred {
	background: url(../bachelorette2017/img/dudes/fred.jpg);
	background-size: 100% 100%;
	opacity: .3;
	filter: grayscale(100%);
}
.grant {
	background: url(../bachelorette2017/img/dudes/grant.jpg);
	background-size: 100% 100%;
	opacity: .3;
	filter: grayscale(100%);
}

.iggy {
	background: url(../bachelorette2017/img/dudes/iggy.jpg);
	background-size: 100% 100%;
	opacity: .3;
	filter: grayscale(100%);
}

.jack_stone {
	background: url(../bachelorette2017/img/dudes/jackstone.jpg);
	background-size: 100% 100%;
	opacity: .3;
	filter: grayscale(100%);
}
.jamey {
	background: url(../bachelorette2017/img/dudes/jamey.jpg);
	background-size: 100% 100%;
	opacity: .3;
	filter: grayscale(100%);
}

.jedidiah {
	background: url(../bachelorette2017/img/dudes/jedidiah.jpg);
	background-size: 100% 100%;
	opacity: .3;
	filter: grayscale(100%);
}

.jonathan {
	background: url(../bachelorette2017/img/dudes/jonathan.jpg);
	background-size: 100% 100%;
	opacity: .3;
	filter: grayscale(100%);
}

.josiah {
	background: url(../bachelorette2017/img/dudes/josiah.png);
	background-size: 100% 100%;
	opacity: .3;
	filter: grayscale(100%);
}
.kenneth {
	background: url(../bachelorette2017/img/dudes/diggy.jpg);
	background-size: 100% 100%;
	opacity: .3;
	filter: grayscale(100%);
}
.kenny {
	background: url(../bachelorette2017/img/dudes/kenny.png);
	background-size: 100% 100%;
	opacity: .3;
	filter: grayscale(100%);
}

.kyle {
	background: url(../bachelorette2017/img/dudes/kyle.jpg);
	background-size: 100% 100%;
	opacity: .3;
	filter: grayscale(100%);
}
.lee {
	background: url(../bachelorette2017/img/dudes/lee.jpg);
	background-size: 100% 100%;
	opacity: .3;
	filter: grayscale(100%);
}
.lucas {
	background: url(../bachelorette2017/img/dudes/lucas.png);
	background-size: 100% 100%;
	opacity: .3;
	filter: grayscale(100%);
}

.matt {
	background: url(../bachelorette2017/img/dudes/matt.jpg);
	background-size: 100% 100%;
}

.michael {
	background: url(../bachelorette2017/img/dudes/michael.jpg);
	background-size: 100% 100%;
	opacity: .3;
	filter: grayscale(100%);
}
.milton {
	background: url(../bachelorette2017/img/dudes/milton.png);
	background-size: 100% 100%;
	opacity: .3;
	filter: grayscale(100%);
}

.mohit {
	background: url(../bachelorette2017/img/dudes/mohit.jpg);
	background-size: 100% 100%;
	opacity: .3;
	filter: grayscale(100%);
}
.peter {
	background: url(../bachelorette2017/img/dudes/peter.jpg);
	background-size: 100% 100%;
}
.rob {
	background: url(../bachelorette2017/img/dudes/rob.jpg);
	background-size: 100% 100%;
	opacity: .3;
	filter: grayscale(100%);
}
.will {
	background: url(../bachelorette2017/img/dudes/will.jpg);
	background-size: 100% 100%;
	opacity: .3;
	filter: grayscale(100%);
}





@media (max-width: 500px) {
	.bio {
		max-width: 100%;
	}

	.card-section {
		flex-wrap: wrap;
		flex-direction: column;
		margin: 0 auto;
	}

	.container {
		margin: 0px 10px;
		margin-top: -60px;
	}

	.person{
		flex-flow: row;
		text-align: left;
		width: 100%;
	}

	.card {
		margin: 20px 0;
		padding: 30px;
	}

	.avatar img {
		width: 100px;
		height: 100px;
		margin-right: 20px;
	}

	.occupation {
		margin: 0;
		text-align: left;
		font-size: 16px;
		line-height: 21px;
	}

	.total {display: none;}

	.rank {
		top: 80px;
		left: 80px;
		font-size: 14px;
	}

	.name {
		text-align: left;
		font-size: 30px;

	}

	.roster {
		margin: 0 0 30px 0;
		justify-content: space-between;
	}

	.rosterDude  {
	  width: 40px;
	  height: 40px;

	 }

	 .dudeName {
	 	display: none;
	 }
	.header {
		height: 340px;
		margin-bottom: 60px;
	}

	.header h1 {
		font-size: 54px;
	}

	.ring {
		font-size: 40px;
	}


	#leaderboard-list {
		margin: 20px 0;
	}
}
